baseURL = 'https://aaron-r-campbell.dev/'
languageCode = 'en-us'
title = 'Aaron Campbell'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[caches]
  [caches.images]
    dir = ':cacheDir/images'
