:root {
  --spacer: 2em;
}

.hidden {
  display: none;
}

label[for="darkMode"] img {
  padding: calc(var(--spacer) / 2);
  height: var(--spacer);
}

img {
  filter: var(--img-filter);
}

* {
  color: var(--color-fg);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--color-bg);
  padding: var(--spacer);
  max-width: 800px;
  min-height: calc(100svh - 2 * var(--spacer));
  color: var(--fg);
  font-size: 18px;
  line-height: 1.6;
  font-family:
    Open Sans,
    Arial;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

p img,
h1 img,
h2 img,
h3 img,
h4 img {
  vertical-align: -0.1em;
  margin-right: 0.5em;
  width: 1em;
}

a {
  color: var(--color4);
}

a:visited {
  color: var(--color5);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: bottom;
  margin-top: var(--spacer);
}
